<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="light-gray">
    <ion-buttons slot="start">
      <ion-menu-button class="menu-btn ion-no-padding" color="success">
        <img src="/assets/img/hamburguer.png" alt="">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="reserves ion-padding" color="light-gray">
  <h1 class="reserves-legend">Mis reservas</h1>
  <div class="reserves-list">
    <ion-card *ngFor="let reserve of reserves" class="reserve">
      <ion-card-content>
        <div class="reserve-img-container" (click)="showReserve(reserve)">
          <img src="assets/img/car.png" alt="" class="reserve-vehicle">
          <div>{{reserve.number_plate}}</div>
        </div>
        <div class="reserve-info">
          <div class="reserve-status warning">Próximo</div>
          <div class="reserve-schedule">
            <span>{{reserve.initial_hour | date: 'shortTime'}} </span>
            <span>- {{reserve.final_hour | date: 'shortTime'}}</span>
          </div>
          <div class="reserve-buttons">
            <a class="edit-btn" (click)="editReserve(reserve)">
              <ion-icon name="create-outline"></ion-icon>
            </a>
            <a class="delete-btn" (click)="deleteReserve(reserve.id)">
              <ion-icon name="close-circle-outline"></ion-icon>
            </a>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>