ion-split-pane{ 
  --border: none !important;
  ion-menu{
    --background: var(--ion-color-primary) !important; 
      ion-content{            
          --background: var(--ion-color-light-gray) !important; 
          --padding-top: 3rem;
          img {
            margin-left: auto;
        margin-right: auto;
            margin-bottom: 2rem;
          }
          ion-item{
            --background: var(--ion-color-light-gray) !important;   
              --color: var(--ion-color-secondary) !important;   
              &.active {
                --background: var(--ion-color-primary) !important;
                --color: var(--ion-color-secondary  ) !important;
              }
              ion-icon{ 
                padding-right: 10px !important;
              }
          }
      }
  }
}

.custom-modal {
  --height: 90% !important;
}